body {
    font-family: 'Arial', 'Liberation Sans', sans-serif;
    overflow-x: hidden;
}

button:hover {
    /* style change on hover */
    background-color: #369;
}

button:active {
    /* style change on hover */
    background-color: #334d99;
}

td {
    width: 4.5em;
}

td button {
    /* makes circular if they are square */
    width: 4.5em;
    height: 4.5em;
    font-size: 1.5em;
    border-radius: .5em;
}

input#output-box {
    width: 100%;
    font-size: 4em;
    border: 3px solid black;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    td button {
        width: 23vw;
        height: 23vw;
        font-size: 5vw;
        border-radius: .5em;
    }

    input#output-box {
        font-size: 15vw;
    }
}