/* Placeholder for stylesheet file */
body {
    font-family: 'Arial', 'Liberation Sans', sans-serif;
}

h4 {
    color: red;
}

td button {
    /* makes circular if they are square */
    width: 4.5em;
    height: 4.5em;
    font-size: 1.5em;
    border-radius: .5em;
}

button:hover {
    /* style change on hover */
    background-color: #369;
}

button:active {
    /* style change on hover */
    background-color: #334d99;
}

td {
    width: 4em;
}

input#output-box {
    width: 100%;
    font-size: 4em;
    border: 3px solid black;
}

/* Add table styling here */
/* Current idea is to make an output text area with id output box if we are allowed to use table, then button can directly call our ported calculator parsing, etc. objects */